.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (160px)[1];
      grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 420px) and (max-width: 659px) {
  .container {
    -ms-grid-columns: (160px)[2];
        grid-template-columns: repeat(2, 160px);
  }
}

@media (min-width: 660px) and (max-width: 899px) {
  .container {
    -ms-grid-columns: (160px)[3];
        grid-template-columns: repeat(3, 160px);
  }
}

@media (min-width: 900px) {
  .container {
    -ms-grid-columns: (160px)[4];
        grid-template-columns: repeat(4, 160px);
  }
}

.container .box {
  width: 100%;
}

.container .box h3 {
  display: block;
  text-align: center;
  color: black;
}

.container .box .chart {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 32px;
  line-height: 160px;
  height: 160px;
  color: black;
}

.container .box canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
}
